@import url("variables.css");
@import url("custom.class.css");

* {
    outline: none !important;
}

.text-bold {
    font-weight: bold !important;
}

.navbar .active, .navbar .active:focus > a {
    font-weight: 700;
}
.navbar .dropdown.active > a > span {
    font-weight: 700;
}
.navbar .dropdown.active ul > li > a.active {
    font-weight: 700;
}

input.form-control {
    border-radius: 0px;
    margin-bottom: 15px;
    border-color: var(--primaryColorLight);
}

input.form-control:focus {
    outline: none;
    box-shadow: none !important;
    border-color: var(--primaryColor);
}